<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<script src="/_api/_plugins/_assets/scripts/admin-dashboard-uikit.js"></script>

<dom-module id="facebook-plugin-dashboard">
    <style>
        :host {
            /* layout properties for the host element */
            @apply(--layout-vertical);
        }
        [horizontal-layout] {
            @apply(--layout-horizontal);
        }
        [flex] {
            @apply(--layout-flex);
        }
        [end] {
            @apply(--layout-end);
        }
        .update-button {
            margin: 10px 5px 5px 10px;
            color: rgb(84, 113, 147);
        }
        .update-button::shadow paper-material {
            padding: 6px 13px 5px 13px;
            border-radius: 1px;
        }
    </style>
    <template>
        <div horizontal-layout end>
            <paper-input id="parseAPIKeyInput" error-message="Invalid input!" label="Facebook Application ID" flex
                         value="{{appKey::input}}"></paper-input>
            <paper-button raised class="update-button" on-tap="updateSettings">Update</paper-button>
        </div>
        <div horizontal-layout end>
            <paper-input error-message="Invalid input!" label="Facebook App Secret" flex
                         value="{{appSecret::input}}"></paper-input>
            <paper-button raised class="update-button" on-tap="updateSettings">Update</paper-button>
        </div>
        </div>
    </template>
    <script>
        (function() {
            var hoodieAdmin = top.hoodieAdmin

            function getConfig() {
                return hoodieAdmin.request('GET', '/app/config')
            }
            function setConfig(doc) {
                return hoodieAdmin.request('PUT', '/app/config', {
                    data: JSON.stringify(doc)
                })
            }
            function updateConfig(obj) {
                getConfig().then(function(doc) {
                    doc.config = $.extend(doc.config, obj)
                    return setConfig(doc)
                })
            }

            Polymer({
                is: "facebook-plugin-dashboard",
                properties: {
                    appKey: {
                        type: String
                    },
                    appSecret: {
                        type: String
                    }
                },
                attached: function () {
                    getConfig().then(function(doc) {
                        this.appKey = doc.config.facebookLoginPlugin__appKey
                        this.appSecret = doc.config.facebookLoginPlugin__appSecret
                    }.bind(this))
                },
                updateSettings: function() {
                    var config = {}
                    config.facebookLoginPlugin__appKey = this.appKey
                    config.facebookLoginPlugin__appSecret = this.appSecret
                    updateConfig(config)
                }
            })
        })()
    </script>
</dom-module>